@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  background: #0a0b0b;
  color: #edf3f0;
  font-family: var(--font-inter);
}
